
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/StyleCSS/main.css")
<div class="container-fluid text-center row-main-intro">
    <div class="row intro-content-1">
        <h2>Ceramisc Store - Nơi tinh hoa hội tụ</h2>
        <p>
            Ceramics Store được thành lập với mong muốn mang đến những
            sản phẩm gốm thủ công với phong cách riêng
            biệt, giá trị nghệ thuật cao cùng với giá
            cả hợp lý. Đây chính là mục đích mà Ceramics Store muốn đem
            lại cho khách hàng.
        </p>
    </div>
    <div class="row intro-content-2">
        <div class="col-sm-6 col-img">
            <div class="img">
                <img src="~/photos/photo_intro/307857911_114555188064467_5944749908045721130_n.jpg" alt="Lỗi">
            </div>
        </div>
        <div class="col-sm-6 col-content">
            <div class="content">
                <h2>TẦM NHÌN – SỨ MỆNH</h2>
                <p>
                    Ceramics Store được thành lập với mong muốn mang đến
                    những sản phẩm gốm thủ công với phong cách
                    riêng
                    biệt, giá trị nghệ thuật cao cùng với giá
                    cả hợp lý.
                </p>
            </div>
        </div>
    </div>
    <div class="row intro-content-3">
        <div class="content">
            <h2>Giá trị cốt lõi</h2>
            <div class="row list-content-img">
                <div class="col-sm-4 item">
                    <div class="box-img img_1">
                        <img src="~/photos/photo_intro/280459761_125155456838033_857369685638959282_n.jpg" alt="Lỗi">
                    </div>
                    <div class="content">
                        <span class="title-value">CHẤT LƯỢNG</span>
                        <span>
                            Qúy hồ tinh, bất quý hồ đa – Các sản phẩm đều
                            được trau chuốt tỉ mỉ, trải qua nhiều công
                            đoạn kiểm định từ việc hiểu đất, chọn men cho
                            đến phối màu để cho ra thành phẩm hoàn hảo
                            nhất
                        </span>

                    </div>
                </div>
                <div class="col-sm-4 item">
                    <div class="box-img img_2">
                        <img src="~/photos/photo_intro/280459761_125155456838033_857369685638959282_n.jpg" alt="Lỗi">
                    </div>
                    <!-- <img src="../Photos/photo-intro/280670221_717161882744764_5158048180424277679_n.jpg" alt="Lỗi" > -->
                    <span class="title-value">ĐỘC ĐÁO</span>
                    <span>
                        Mỗi một sản phẩm đều mang phong cách riêng biệt
                        đầy mới lạ được người thợ gốm khéo léo gửi gắm
                        vào trong. Tính độc đáo tạo nên ngôn ngữ thiết kế
                        của riêng cho Ceramics Store
                    </span>
                </div>
                <div class="col-sm-4 item">
                    <div class="box-img img_3">
                        <img src="~/photos/photo_intro/280459761_125155456838033_857369685638959282_n.jpg" alt="Lỗi">
                    </div>
                    <!-- <img src="../Photos/photo-intro/280376204_519557896391206_8404298024682779819_n.jpg" alt="Lỗi" > -->
                    <span class="title-value">HỮU DỤNG</span>
                    <span>
                        Với Ceramics Store, một sản phẩm đạt chuẩn không
                        chỉ đảm bảo được tính duy mỹ cao mà còn phải
                        hữu ích và có thể ứng dụng trong cuộc sống hàng ngày
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div class="row intro-content-4 col-content">
        <div class="col-sm-6 col-content">
            <div class="content">
                <h2>DỊCH VỤ</h2>
                <p>
                    Ceramics Store không chỉ là đơn vị sản xuất gốm uy
                    tín mà
                    còn là nơi tổ chức workshop và các khóa học
                    dạy làm gốm chuyên nghiệp, góp phần duy trì và phát
                    triển ngành nghề truyền thống của Việt Nam
                </p>
            </div>
        </div>
        <div class="col-sm-6 col-img">
            <div class="img">
                <img src="~/photos/photo_intro/317274634_530878108658797_2760594860937895788_n.jpg" alt="Lỗi">
            </div>
        </div>
    </div>


</div>

