<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link  active" aria-current="page" href="/TeachingSchedule/Timetable">Lịch dạy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/TeachingSchedule/ExamTimetable">Lịch thi</a>
    </li>
</ul>
