$whiteColor: white;
$growColor: rgb(104, 40, 5);
$colorfont: rgb(241, 241, 241);


@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }

    [class*="control-symbol"] {
        position: absolute;
        top: 85px;
        right: 10px;
    }

    [class*="openSearch"] {
        display: none;
    }
}

@mixin fontColor-footer {
    color: rgb(241,241,241);
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: Gistesy;
    src: url(../fonts/Gistesy.ttf) format("truetype");
}

body {

    .row-header {
        nav {
            background-color: white;
            border-bottom: 1px solid rgba(104, 40, 5,0.6);

            .container-fluid {
                .navbar-brand {
                    margin-left: 10px;
                    padding-left: 5px;
                    font-family: Gistesy;
                    font-size: 45px;
                    color: $growColor;
                    font-family: Gistesy;
                    font-weight: 600;
                }

                .offcanvas {
                    .offcanvas-body {
                        align-items: center;

                        .navbar-nav {
                            .nav-item {
                                .nav-link {
                                    color: $growColor;
                                    font-weight: 400;
                                    font-size: 17px;
                                }
                            }
                        }

                        .search-bar {
                            height: 40px;
                            border-radius: 50px;
                            background-color: rgba(104, 40, 5,0.3);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 0 5px;

                            input {
                                background-color: transparent;
                                flex: 1;
                                border: 0;
                                outline: none;
                                font-size: 16px;
                                color: white;
                            }

                            button {
                                border: 0;
                                border-radius: 50%;
                                width: 35px;
                                height: 35px;
                                cursor: pointer;
                                background-color: $growColor;
                            }
                        }


                        .link_login {
                            color: $growColor;
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            margin-right: 30px;
                            margin-left: 30px;
                            font-weight: 400;
                            font-size: 17x;
                        }
                    }
                }
            }
        }
    }

    .body-content {
        margin: 20px 0;
    }



    .row-footer {
        background-color: $growColor;
        height: 250px;

        .information-content {
            background-color: $growColor;

            .title-footer {
                margin-top: 10px;
                font-weight: bold;
                @include fontColor-footer();
            }

            .small-devide {
                color: rgb(241,241,241);
            }

            span {
                display: block;
            }

            .address {
                @include fontColor-footer();
                margin-left: 20px;
                margin-right: 20px;
                text-align: center;
            }

            .phonenumber {
                @include fontColor-footer();
                text-align: center;
            }
        }

        .fanpage {
            background-color: $growColor;

            .title-footer {
                margin-top: 10px;
                font-weight: bold;
                @include fontColor-footer();
            }

            span {
                display: block;
            }

            .small-devide {
                color: rgb(241,241,241);
            }

            .showfanpage {
                display: flex;
                margin: auto;
                background-color: $growColor;
            }
        }

        .map {
            background-color: $growColor;

            .title-footer {
                margin-top: 10px;
                font-weight: bold;
                @include fontColor-footer();
            }

            span {
                display: block;
            }

            .small-devide {
                color: rgb(241,241,241);
            }

            .showmap {
                display: flex;
                margin: auto;
                width: 90%;
                height: 60%;
                background-color: $growColor;
            }
        }
    }
}
