
$whiteColor: white;
$growColor: rgb(104, 40, 5);

//Trang chủ
@mixin align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin style-product-img {
    margin-top: 9px;
    max-width: 93%;
    height: 75%;
    border-radius: 5px;
}

@mixin style-content-product {
    color: rgb(125, 125, 125);
    text-align: left;
    margin-left: 9px;
    font-size: 15px;
}

@mixin style-price-product {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $growColor;
}

//tao chu nhap nhay
@-webkit-keyframes my {
    0% {
        color: red;
    }

    50% {
        color: lightgrey;
    }

    100% {
        color: red;
    }
}

@keyframes my {
    0% {
        color: red;
    }

    50% {
        color: lightgrey;
    }

    100% {
        color: red;
    }
}

* {
    padding: 0;
    margin: 0;
}

.product-item-img {
    @include style-product-img();
}

.product-item-content {
    @include style-content-product();
}

.product-item-price {
    @include style-content-product();
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: $growColor;
}

.symbols-arrow {
    float: right;
    font-size: 25px;
    margin-left: 30px;
    color: lightgrey;
    margin-right: 5px;
    cursor: pointer;
}

.symbols-arrow:hover {
    color: $growColor;
}

.row-product-sale {
    margin: 10px 0;

    .title {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-weight: bold;
        animation: my 700ms infinite;
    }
}

.list-product-sale {
    margin: 10px 0;

    .box-item {
        @include align-items-center();

        .product-item-sale {
            max-width: 90%;
            max-height: 100%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 5px;
            margin-top: 15px;

            .product-item-img:hover {
                opacity: 0.7;
            }
        }
    }
}

.row-product-top {
    margin: 10px 0;

    .title {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        font-weight: bold;
        animation: my 700ms infinite;
    }
}

.list-product-top {
    margin: 10px 0;

    .box-item {
        @include align-items-center();

        .product-item-top {
            max-width: 90%;
            max-height: 100%;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            border-radius: 5px;
            margin-top: 15px;

            .product-item-img:hover {
                opacity: 0.7;
            }
        }
    }
}

//ĐĂNG NHẬP

.login-page {
    background-image: url(../../photos/photo_background/56197359_114840413033118_4809732151975346477_n.jpg);
    background-size: cover;

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;

        .form-box {
            position: relative;
            width: 40%;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(135,124,110,0.5);
            border: 2px solid rgba(255, 255, 255,0.5);
            border-radius: 20px;

            form {

                h2 {
                    color: white;
                    text-align: center;
                }

                .input-box {
                    position: relative;
                    margin: 30px 0px;
                    width: 300px;
                    border-bottom: 1px solid white;

                    label {
                        position: absolute;
                        top: 40%;
                        left: 0px;
                        transform: translateY(-50%);
                        color: white;
                        pointer-events: none;
                        transition: 0.5s;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: white;
                    }

                    input:focus ~ label {
                        top: -2px;
                        color: $growColor;
                    }

                    input:valid ~ label {
                        top: -2px;
                        color: $growColor;
                    }

                    i {
                        position: absolute;
                        right: 0;
                        top: 30%;
                        color: white;
                        font-size: 18px;
                    }
                }

                .btnlogin {
                    display: block;
                    margin: auto;
                    width: 60%;
                    height: 40px;
                    border-radius: 40px;
                    background-color: white;
                    color: black;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
                }

                .btnlogin:hover {
                    color: white;
                    background-color: $growColor;
                }

                .form-group {
                    .col-md-12 {
                        ul {
                            width: 100%;

                            li {
                                display: inline;
                                list-style: none;
                                margin: 0 5px;

                                a {
                                    text-decoration: none;
                                    color: white;
                                    font-weight: 600;
                                }

                                a:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//Đăng nhập
/* .login-page {
    background-image: url(../Photos/56197359_114840413033118_4809732151975346477_n.jpg);
    background-size: cover;

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;

        .form-box {
            position: relative;
            width: 40%;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(135,124,110,0.5);
            border: 2px solid rgba(255, 255, 255,0.5);
            border-radius: 20px;

            .form-information {
                form {
                    h2 {
                        color: white;
                        text-align: center;
                    }

                    .input-box {
                        position: relative;
                        margin: 30px 0px;
                        width: 300px;
                        border-bottom: 1px solid white;

                        label {
                            position: absolute;
                            top: 40%;
                            left: 0px;
                            transform: translateY(-50%);
                            color: white;
                            pointer-events: none;
                            transition: 0.5s;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        input {
                            width: 100%;
                            height: 40px;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: white;
                        }

                        input:focus ~ label {
                            top: -2px;
                            color: $growColor;
                        }

                        input:valid ~ label {
                            top: -2px;
                            color: $growColor;
                        }

                        i {
                            position: absolute;
                            right: 0;
                            top: 30%;
                            color: white;
                            font-size: 18px;
                        }
                    }

                    .btnlogin {
                        display: block;
                        margin: auto;
                        width: 60%;
                        height: 40px;
                        border-radius: 40px;
                        background-color: white;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    .btnlogin:hover {
                        color: white;
                        background-color: $growColor;
                    }

                    .register {
                        color: white;
                        margin: 25px 0 10px;
                        text-align: center;

                        p {
                            a {
                                text-decoration: none;
                                color: white;
                                font-weight: 600;
                            }

                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}*/

//ĐĂNG KÝ
.signin-page {
    background-image: url(../../photos/photo_background/56197359_114840413033118_4809732151975346477_n.jpg);
    background-size: cover;

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;

        .form-box {
            position: relative;
            width: 40%;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(135,124,110,0.5);
            border: 2px solid rgba(255, 255, 255,0.5);
            border-radius: 20px;

            form {
                h2 {
                    color: white;
                    text-align: center;
                }

                .input-box {
                    position: relative;
                    margin: 30px 0px;
                    width: 300px;
                    border-bottom: 1px solid white;

                    label {
                        position: absolute;
                        top: 40%;
                        left: 0px;
                        transform: translateY(-50%);
                        color: white;
                        pointer-events: none;
                        transition: 0.5s;
                        font-size: 18px;
                        font-weight: 600;
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: white;
                    }

                    input:focus ~ label {
                        top: -2px;
                        color: $growColor;
                    }

                    input:valid ~ label {
                        top: -2px;
                        color: $growColor;
                    }

                    i {
                        position: absolute;
                        right: 0;
                        top: 30%;
                        color: white;
                        font-size: 18px;
                    }
                }

                .form-group {
                    .col-md-12 {
                        .btnsignin {
                            display: block;
                            margin: auto;
                            width: 60%;
                            height: 40px;
                            border-radius: 40px;
                            background-color: white;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 600;
                            color:black;
                        }

                        .btnsignin:hover {
                            color: white;
                            background-color: $growColor;
                        }
                    }
                }
            }
        }
    }
}
        //Đăng ký
        /*.signin-page {
        background-image: url(../Photos/56197359_114840413033118_4809732151975346477_n.jpg);
        //background-position: center;
        background-size: cover;

        section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;

            .form-box {
                position: relative;
                width: 40%;
                height: 80vh;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(135,124,110,0.5);
                border: 2px solid rgba(255, 255, 255,0.5);
                border-radius: 20px;

                .form-information {
                    form {
                        h2 {
                            color: white;
                            text-align: center;
                        }

                        .input-box {
                            position: relative;
                            margin: 30px 0px;
                            width: 300px;
                            border-bottom: 1px solid white;

                            label {
                                position: absolute;
                                top: 40%;
                                left: 0px;
                                transform: translateY(-50%);
                                color: white;
                                pointer-events: none;
                                transition: 0.5s;
                                font-size: 18px;
                                font-weight: 600;
                            }

                            input {
                                width: 100%;
                                height: 40px;
                                background-color: transparent;
                                border: none;
                                outline: none;
                                color: white;
                            }

                            input:focus ~ label {
                                top: -2px;
                                color: $growColor;
                            }

                            input:valid ~ label {
                                top: -2px;
                                color: $growColor;
                            }
                        }

                        .btnsignin {
                            display: block;
                            margin: auto;
                            width: 60%;
                            height: 40px;
                            border-radius: 40px;
                            background-color: white;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            font-size: 18px;
                            font-weight: 600;
                        }

                        .btnsignin:hover {
                            color: white;
                            background-color: $growColor;
                        }
                    }
                }
            }
        }
    }*/
        //Giới thiệu
        @mixin styleContentIntro {
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }

        .title-value {
            margin-top: 25px;
            font-style: italic;
        }

        span {
            display: block;
            font-family: 'Roboto', sans-serif;
            color: rgb(125, 125, 125);
            font-size: 15px;
            text-align: center;
            margin: 0px 5px 0px 5px;
        }

        .row-main-intro {
            background-color: $whiteColor;

            .intro-content-1 {
                background-color: aqua;

                h2 {
                    color: $growColor;
                    margin-top: 20px;
                    font-weight: bold;
                    @include styleContentIntro();
                }

                p {
                    @include styleContentIntro();
                }
            }

            .intro-content-2 {
                background-color: bisque;
                height: 600px;

                .col-img {
                    @include align-items-center();

                    .img {
                        width: 70%;
                        height: 90%;
                        background-attachment: fixed;
                        background-image: url(../Photos/photo-intro/307857911_114555188064467_5944749908045721130_n.jpg);
                        background-repeat: no-repeat;
                        background-position: left top;
                        z-index: 1;

                        img {
                            width: 70%;
                            height: 90%;
                        }
                    }
                }

                .col-content {
                    //background-color: aqua;
                    @include align-items-center();

                    .content {
                        h2 {
                            color: $growColor;
                            font-weight: bold;
                            @include styleContentIntro();
                        }

                        p {
                            margin: 0px 30px 0px 30px;
                            @include styleContentIntro();
                        }
                    }
                }
            }

            .intro-content-3 {
                background-color: cornflowerblue;
                height: 600px;
                @include align-items-center();
                /* max-width: 600px;
        overflow: auto;
        white-space: nowrap;*/

                .content {
                    position: relative;
                    height: 100%;

                    h2 {
                        width: 100%;
                        height: 50px;
                        color: $growColor;
                        position: absolute;
                        top: 20px;
                    }

                    .list-content-img {
                        position: absolute;
                        bottom: 0px;
                        background-color: blue;
                        height: 600px;

                        .item {
                            position: relative;

                            .box-img {
                                margin-top: 10px;
                                width: 90%;
                                height: 70%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .intro-content-4 {
                background-color: brown;
                height: 600px;

                .col-img {
                    background-color: rebeccapurple;
                    @include align-items-center();

                    .img {
                        width: 80%;
                        height: 90%;
                        background-attachment: fixed;
                        background-image: url(../Photos/photo-intro/317274634_530878108658797_2760594860937895788_n.jpg);
                        background-repeat: no-repeat;
                        background-position: right top;
                        z-index: 1;

                        img {
                            width: 70%;
                            height: 90%;
                        }
                    }
                }

                .col-content {
                    background-color: aqua;
                    @include align-items-center();

                    .content {

                        h2 {
                            color: $growColor;
                            font-weight: bold;
                            @include styleContentIntro();
                        }

                        p {
                            margin: 0px 30px 0px 30px;
                            @include styleContentIntro();
                        }
                    }
                }
            }
        }
        //information product
        .information-product {
            /* height: 100vh;*/
            display: flex;
            justify-content: center;
            align-items: center;


            .left {
                display: flex;
                align-items: center;
                justify-content: center;

                .content {
                    .img-main {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;

                        img {
                            max-width: 480px;
                            max-height: 480px;
                        }
                    }

                    .option {
                        background-color: aqua;
                        max-width: 480px;
                        margin: auto;
                        display: flex;

                        img {
                            max-width: 120px;
                            max-height: 120px;
                        }
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;

            .content {
                h3 {
                    color: black;
                    font-size: 25px;
                    margin: 20px 0;
                    font-weight: 700;
                }

                h4 {
                    color: $growColor;
                    font-size: 30px;
                }

                p {
                    color: rgb(117,117,117);
                    line-height: 25px;
                }

                h5 {
                    color: rgb(117,117,117);
                    font-size: 15px;
                }



                .add {
                    span {
                        display: inline;
                    }
                }

                button {
                    display: block;
                    margin: auto;
                    width: 40%;
                    height: 40px;
                    color: lightgray;
                    border: 1px solid $growColor;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 600;
                    background-color: rgba(104, 40, 5,0.1);

                    i {
                        margin-right: 20px;
                    }
                }

                button:hover {
                    opacity: 0.95;
                }
            }
        }

        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
            [class*="col-"] {
                width: 100%;
            }

            [class*="navbar-select"] {
                width: 20%;
                display: flex;
                justify-content: left;
            }

            [class*="buttun-login"] {
                width: 80%;
                display: flex;
                justify-content: right;
            }

            .login-page {
                section {
                    .form-box {
                        width: 90%;
                    }
                }
            }

            .signin-page {
                section {
                    .form-box {
                        width: 90%;
                    }
                }
            }
        }
