
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Show</h2>

<h3>Đăng ký lịch dạy</h3>
<div>Giảng viên: @ViewBag.schedule.Teacher.NAME</div>
<div>Ngày: @ViewBag.schedule.Day</div>
<div>Độ tương thích: @ViewBag.schedule.GetFitness()</div>
<div>Số tiết có thể chọn</div>

@{
    foreach (var course in ViewBag.schedule.SlotAvailible(ViewBag.timeslotsls))
    {

        <div>@course.NAME</div>

    }
}

